@import  "../abstracts/index" ;


ul {
    list-style: none;

    li {
        a {

            text-decoration: none;
         
         


        }
    }
}

img {
    width: 100%;
}

*:focus {
    outline: none;
    border:none!important;
    box-shadow: none!important;
}

.pr{
    position: relative;
}
.group{
    margin-bottom:1.3rem;

    span{
        font-size:1.5rem;
        display: inline-block;
        color:$darkColor;
        cursor: pointer;
    }

    &__control{
        display: block;
        width:100%;
        border:none;
        font-size:1.6rem;
        border: 1px solid $grayColor;
        height:5rem;
        padding: 0 2rem;
        outline: none;
    }
}
::placeholder{
    color: $secondaryColor;
    font-size: 1.7rem;

}

.flex{
    display: flex;
}
.space-between{
    justify-content: space-between;
}
.y-center{
    align-items: center;
}

.animation {
    transform: translateY(-10rem) scale(0);
    opacity: 0;
    transition: all .8s ease-out;
}
.animate {
    transform: translateY(0) scale(1);
    opacity: 1;
}
.headingAnimation {
    transform: translateY(-10rem) scale(0) rotate(-2deg);
    opacity: 0;
    transition: all .8s ease-out;
    -webkit-transform: translateY(-10rem) scale(0) rotate(-2deg);
    -moz-transform: translateY(-10rem) scale(0) rotate(-2deg);
    -ms-transform: translateY(-10rem) scale(0) rotate(-2deg);
    -o-transform: translateY(-10rem) scale(0) rotate(-2deg);
}
.headingAnimate {
    transform: translateY(0) scale(1) rotate(-2deg);
    opacity: 1;
}
