@import  "../abstracts/";

.btn-default {
    @include button($primaryColor, $secondaryColor, $lightColor, 4.5rem,1.4rem,.2rem, 0,2rem);
  
}
.btn-dark {
    @include button($darkColor, $darkColor, $lightColor, 4.5rem,1.4rem,.4rem, 0,2rem);
    letter-spacing: .1rem;
  
}
.btn-dark-sm {
    @include button($darkColor, $darkColor, $lightColor, 4rem,1.3rem,.4rem, 0,1.5rem);
    letter-spacing: .1rem;
}
.btn-white {
    @include button($lightColor, $lightColor, $darkColor, 3rem,1.2rem,.3rem, 0,2rem);
    letter-spacing: .1rem;
}
.btn-pink {
    @include button($primaryColor, $secondaryColor, $lightColor, 3.5rem,1.3rem,.3rem, 0,2rem);
    letter-spacing: .1rem;
}

.btnn{
    @include button($darkColor, $grayColor, $lightColor, 4rem,1.3rem,.4rem, 0,1.5rem);
    letter-spacing: .1rem;
}