@import "../abstracts/breakpoints";

@mixin flexBetween {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@mixin flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flexVertical {
    display: flex;
    align-items: center;
}

@mixin position($position, $top, $left, $bottom, $right, $width, $height){
    position: $position;
    top: $top;
    left: $left;
    bottom: $bottom;
    right: $right;
    width: $width;
    height: $height;
}

@mixin align($flex, $justify-content, $align-items, $height) {
    display: $flex;
    justify-content: $justify-content;
    align-items: $align-items;

    height: $height;
}

@mixin button($color1, $color2, $textColor, $height,$fontSize,$bdr, $paddingVertical, $paddingHorizontal) {
    background: linear-gradient(to right, $color1, $color2);
    color: $textColor;
    text-decoration: none;
    height: $height;
    line-height: $height;
    display: inline-block;
    font-size: $fontSize;
    font-weight: 400;
    border-radius: $bdr;
    padding: $paddingVertical $paddingHorizontal;
    border: none;
    outline: none;
    cursor: pointer;
    
}


@mixin toggleSpans($bg, $width, $height, $mt) {
    display: block;
        background: $bg;
        width: $width;
        height: $height;
        margin-top: $mt;
        transition: all .3s linear;
}
@mixin status($bg, $color) {
                padding: .6rem 1.3rem;
                background: $bg;
                color: $color;
                border-radius: .6rem;
                font-size: 1.3rem;
                text-transform: capitalize;
}

@mixin animation($name, $duration, $timeFunction, $translate1, $translate2) {
    animation: $name $duration $timeFunction;
                    @keyframes #{$name} {
                        0% {
                         opacity: 0;
                         transform: translateY($translate1);
                        } 100% {
                            opacity: 1;
                            transform: translateY($translate2);
                        }
                    }
}

@mixin flex-display($display, $align-items, $justify-content) {
    display: $display;
    align-items: $align-items;
    justify-content: $justify-content;
}


@mixin media ($screensize) {

    @if ($screensize==xlarge) {
        @media(max-width: 1280px) {
            @content
        }

        ;
    }

    @if ($screensize==large) {
        @media(max-width: 992px) {
            @content
        }

        ;
    }

    @if ($screensize==medium) {
        @media(max-width: 768px) {
            @content
        }

        ;
    }

    @if ($screensize==small) {
        @media(max-width: 576px) {
            @content
        }

        ;
    }
}


//Responsive
@mixin responsive($breakpoint){
    @if $breakpoint == large {
        @media (max-width: $lg){
           @content;
        }
    }
    @if $breakpoint == medium {
        @media (max-width: $md){
          @content;
        }
    }
    @if $breakpoint == small {
       @media (max-width: $sm){
          @content;
       }
   }
   @if $breakpoint == xsmall {
       @media (max-width: $xsm){
          @content;
       }
   }
}

