
//fonts
$primaryFont:   'Lato', sans-serif;
$secondaryFont:'Nunito Sans', sans-serif;
//colors
$primaryColor:#ECB365;
$secondaryColor:#064663;
//
$darkColor:rgba(8, 8, 8, 0.4);
$grayColor:#04293A;
//
$lightColor:#FEFEFE;
$silverColor:#aaa;
//
$redColor:#E94560;
//transition
$transition: all .3s;
//border-radius
$borderRadius: 0.5rem;
//letter-spacing
$letter-spacing:2px;
//line-height
$line-height:1.3rem;
//
$textShadow:    0 0 5px #182145 , 0 0 5px #182145 ,0 0 5px #182145 ,0 0 5px #182145 ; 

