@import "../abstracts/";
@import "../utilities/utilities.scss";

.banner {
    width: 100%;
    height: 100vh;
    position: relative;
    clip-path: polygon(50% 0%, 100% 0, 100% 90%, 0 100%, 0 100%, 0% 60%, 0 0);

    &__logo {
        @include position(absolute, 3rem, 0, null, null, null, null);
        z-index: 1;

        img {
            width: 15rem;
            height: auto;
            object-fit: cover;
            cursor: pointer;
        }
    }

    &__video {
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            animation: bannerImage .5s linear;
            -webkit-animation: bannerImage .4s linear;

            @keyframes bannerImage {
                from {
                    opacity: 0;

                }

                to {
                    opacity: 1;
                }
            }
        }


        @include position(absolute, 0, 0, null, null, 100%, 100%);
        overflow: hidden;



    }

    &__contents {
        @include position(absolute, 0, 0, null, null, 100%, 100%);
        background-color: $darkColor;


        &__text {
            @include align(flex, center, center, 100vh);

            &__child {
                &__h1 {
                    color: $lightColor;
                    text-transform: uppercase;
                    font-weight: 900;
                    font-size: 4.2rem;
                    font-family: $secondaryFont;
                    line-height: 3rem;
                    text-shadow: $textShadow;
                    @include animation(banner, 1s, ease-in, -8rem, 0);
                }

                &__p {
                    font-size: 1.5rem;
                    color: $lightColor;
                    @include animation(subBanner, 1s, ease-out, -10rem, 0);
                }

                &__link {
                    @include animation(bannerButton, 1s, ease-out, -8rem, 0);
                }
            }
        }
    }
}