.blog {
    max-width: 1200px;
    margin: 40px auto;
    text-align: center;
    background: $lightColor;
    padding: 40px;
    box-sizing: border-box;
    border:1px solid #ddd;
    .time{
        font-size: 1.6rem;
        color: $primaryColor;
      }
       ul {
          display: flex;
          padding: 0;
          justify-content: center;
          margin-top: 0;
      }
      li {
          list-style-type: none;
          margin-right: 10px;
          color: $darkColor;
          font-size: 1.6rem;
      }
      li::after {
          content: " -";
      }
      li:last-child::after {
          content: "";
      }
      .info {
          text-align: left;
          line-height: 1.5em;
          font-size: 1.6rem;
          text-align: justify;
      }
}
