.blog-list {}

.card {
    background: #fff;
    color: #333;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.05);
    transition: all 0.3s ease;
    position: relative;

    h3 {
        color: $primaryColor;
        margin-bottom: 6px;
        font-size: 2.2em;
    }

    p {
        color: $grayColor;
        font-size: 1.6em;
    }

    div {
        color: #555;
        font-size: 0.7em;
        margin: 20px 0;
        line-height: 1.5em;
        font-size: 1.6em;
    }

    a {
        color: $primaryColor;
        text-decoration: none;
        display: block;
        background: $darkColor;
        font-size: 0.9em;
        width: 150px;
        text-align: center;
        padding: 8px;
        border-radius: 4px;
        margin: 20px auto 0;
        font-size: 1.6em;
    }
}

.card:hover {
    transform: scale(1.03);
    -webkit-transform: scale(1.03);
    -moz-transform: scale(1.03);
    -ms-transform: scale(1.03);
    -o-transform: scale(1.03);
}