.create-title{
    color:$primaryColor;
    font-weight: 600;
    font-size:2rem;
    @include flexCenter;
}


.categories {
    display: flex;
    align-items: center;

    input {
        border-radius: 15px;
        outline: none;
          
      }
     .btnAdd {
        margin: 0 0 0 10px;
        background-color:#574b90;
        border-radius: 15px;
      }
    
       .btnAdd:hover{
        background-color:#303952;
        border:0;
        color:white
      }
  }



  .list{
      font-size: 0.9em;
      color:#786fa6 !important;
  }