@import  "../abstracts/";
@import  "../utilities/utilities.scss";


.destinations {
    &__heading{
        font-size:2.8rem;
        color:$grayColor;
        font-weight: 500;
        font-family: $primaryFont;
        width:60%;
        line-height: 4rem;
        position:relative;
        &::after{
            position: absolute;
            content:"";
            bottom:-.5rem;
            left:0;
            width:48%;
            height: .2rem;
            background:$redColor;

        }
}
&__paragraph{
font-size:1.6rem;
line-height: 2.7rem;
color:$silverColor;
}
    &__block {
        margin-top: 6rem;
       
    }
    &__card {
        width: 100%;
        height: 35rem;
        border-radius: 1rem;
        overflow: hidden;
        position: relative;
        &__img {
            width: 100%;
            height: 100%;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                image-rendering: pixelated;
            }
        }
        &__layer {
         @include position(absolute, 0, 0, 0, 0, 100%, 100%);
         @include align(flex, null, flex-end, null);
         background: linear-gradient(to bottom, transparent 30%, $darkColor);
         padding :2rem;
         color: $lightColor;
         &__content {
            @include align(flex, null, center, null);
            &__country {
                font-size: 1.5rem;
                margin-left: .4rem;
            }
         }
        }
        &__info {
           @include position(absolute,0,null,null,0,100%,30%);
           @include align(flex,center,center,null);
           background: linear-gradient(to right, $primaryColor, $secondaryColor);
           visibility: hidden;
           transform: scale(0);
           transition: all .3s linear;
           -webkit-transition: all .3s linear;
           -moz-transition: all .3s linear;
           -ms-transition: all .3s linear;
           -o-transition: all .3s linear;
}
        &:hover &__info {
            visibility: visible;
            transform: scale(1);
        }
       
    }
}