@import "../abstracts/";
@import "../utilities/utilities.scss";
.footer {
    width: 100%;
    margin-top: 8rem;
    padding: 8rem 0;
   
    &__container {
        width: 100%;
        &__block {
            background: $lightColor;
            padding: 2rem;
        }
    }
    &__intro {
        &__img {
            width: 15rem;
           
            img {
                width: 100%;
                height: auto;
                object-fit: cover;
            }
        }
        &__msg {
            margin-top: 2rem;
            font-size: 1.6rem;
            color: $silverColor;
            width: 80%;
            font-weight: 400;
            line-height: 2.5rem;
           
        }
    }
    &__heading {
        color: $darkColor;
        text-transform: uppercase;
        font-size: 1.6rem;
        letter-spacing: .2rem;
        margin-bottom: 2rem;
       
    }
    &__ul {
        list-style: none;
        &__li {
            display: flex;
            align-items: center;
            color: $silverColor
            a {
                text-decoration: none;
                color: $silverColor;
                display: block;
                padding: .5rem 0;
                font-size: 1.5rem;
                text-transform: capitalize;
                margin-left: .5rem;
            }
        }
    }
    &__bottom {
        width: 100%;
        background: linear-gradient(to right, $primaryColor, $secondaryColor);
        color: $lightColor;
        height: 5rem;
        @include align(flex, center, center, null);
        p {
            font-size: 1.5rem;
            text-transform: capitalize;
          
        }

    }
   
}