@import "../abstracts/";
.gallery {
    margin: 8rem 0;
    @include responsive(xsmall) {
       margin: 4rem 0; 
    }
    &__image {
        width: 100%;
        height: 22rem;
        overflow: hidden;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            cursor: pointer;
            transition: all .5s linear;
            &:hover {
                transform: scale(1.3);
            }
        }
    }
    &__lightbox {
      @include position(fixed, 0, 0, 0, 0, 100%, 100%);
      background: rgba(0,0,0,.7);
      z-index: 8;
      @include  align(flex, center, center, null);
      flex-direction: column;
      @include responsive(xsmall) {
          padding-left: 1.5rem;
          padding-right: 1.5rem;
      }
      h4 {
          color: $lightColor;
          font-size: 1.8rem;
          margin-bottom: 1rem;
      }
      &__card {
          width: 45rem;
          height: 45rem;
          background: transparent;
          border-radius: .3rem;
          overflow: hidden;
          animation: cardAnimation .5s linear;
          @include responsive(xsmall) {
              width: 100%;
              height: auto;
          }
          @keyframes cardAnimation {
              from {
               opacity: 0;
               transform: translateY(-2rem);
              } to {
                opacity: 1;
                transform: translateY(0);
              }
          }
          &__image {
              width: 45rem;
              max-height: 45rem;
              overflow: hidden;
              @include responsive(xsmall) {
                  width: 100%;
                  height: 100%;
              }
              img {
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                  animation: imageAnimation .5s linear;
                  @keyframes imageAnimation {
                      from {
                           opacity: 0; 
                           transform: scale(0);
                      } to {
                          opacity: 1;
                          transform: scale(1);
                      }
                  }
              }
          }
      }
    }
}