
.menu{
text-transform:uppercase;
    &__navbar{
@include flexBetween;
        &--list{
display:flex;
.li{
line-height:8rem;
position:relative;
transition:$transition;
text-decoration: none;
text-transform: uppercase;
font-family: $primaryFont;
color:$lightColor;

.dropdown{
    position:absolute;
background-color:$primaryColor;
    filter: brightness(50%);
    width:150%;
    left:50%;
    z-index:10;
    top:5rem;
    transition:$transition;
    opacity:0;
    color: $lightColor!important;
     
    .li{
        text-decoration: none;
        text-transform: uppercase;
        font-family: $primaryFont;
        padding:1rem;
      
    }
}

&:hover{
    background-color:  $primaryColor;

    & .dropdown{
      opacity:1;
      top:3rem;

    }
  }


}


a{
    padding:0 2rem;
    font-size:1.6rem;
    letter-spacing:$letter-spacing;
}
        }
    }
    .search-area{
        font-size:1.4rem;
        input[type="search"],button[type="submit"]{
            border:none;
            background-color:transparent;
            color:$lightColor;
        }
        input[type="search"]{
            border-bottom:1px solid $primaryColor;
            padding:.5rem;
        }
        button[type="submit"]{
            margin-left:-5rem;
        }
        &__icon{
            color:$primaryColor;
           
            margin-left:1rem;
            font-size:2.2rem;
            padding:1px;
           
        
        }
    }
    
}

