@import  "../abstracts";

.modal{
    @include position(fixed, 0, 0, 0, 0, 100%, 100%);
    background:$darkColor;
  @include align(flex,center, center, null);
  z-index: inherit;
  &__heading{
    h3{
      font-size: 2rem;
      font-weight: 400;
      padding: 1.4rem;
    }

   
  }
    &__body{
        background:$lightColor;
width:40rem;
height: auto;
padding: 2rem;
font-size:1.4rem;
@include animation(modalAnimate, .5s, linear, -10rem, 0)
    }
}