@import  "../abstracts/";
.navbarLayer {
   @include position(fixed, 0, 0, 0, 0, 100%, 100%);
   background: rgba(0,0,0, .6);
   z-index: 3;
}
.navbar {
   @include position(fixed,0, null, 0, 0, 31.2rem, 100%);
   background: $lightColor;
   z-index: 4; 
   transition: all .3s linear;
   @include align(flex, center, center, 100%); 
 
   &__content {
      width: 100%;
      li {
         list-style: none;
         a {
            text-decoration: none;
            display: block;
            padding: 1.5rem 3rem;
            text-align: right;
            color: $darkColor;
            font-size: 1.6rem;
            font-weight: 400;
            position: relative;
          
            &:before {
               @include position(absolute, 0,0, 0, 0,100%, 100%);
               content: "";
               background: linear-gradient(to right, $primaryColor, $secondaryColor);
               z-index: -1;
               transform: scale(0);
               transition: all .3s linear;
            }
            &:hover:before {
               transform: scale(1);
            }
            &:hover {
               color: $lightColor;
            }
         }
      }
   }
   &--close {
      transform: translateX(100%);
   }
   &--open {
      transform: translateX(0);
   }
}



/**  NAV HEADER **/
.nav-header {

   @include media(large) {
     position: fixed;
     background-color: rgba($secondaryColor, .7);
     top: 0;
     width: 50%;
     right: -50%;
     z-index: 10;
     height: 100vh;
     transition: $transition;
     -webkit-transition: $transition;
     -moz-transition: $transition;
     -ms-transition: $transition;
     -o-transition: $transition;
 
     &.active {
       right: 0;
     }
   }
 
   .navbarDesktop {
     @include flex-display(flex, center, space-between);
 
     @include media(large) {
       flex-direction: column;
     }
     .logo{
      .li{
            font-size:2rem;
            font-family: $primaryFont;
            color:$secondaryColor!important;
            text-decoration: none;
        }
    }
     .navbar-list {
       display: flex;
 
      
 
       li {
         line-height: 8rem;
         position: relative;
         transition: $transition;
         -webkit-transition: $transition;
         -moz-transition: $transition;
         -ms-transition: $transition;
         -o-transition: $transition;

         .a{
    color:$darkColor;
         }
     
 
         .dropdown {
           position: absolute;
           background-color: lighten($secondaryColor, 10%);
           width: 150%;
           left: 50%;
           z-index: 10;
           top: 12rem;
           transition: $transition;
           -webkit-transition: $transition;
           -moz-transition: $transition;
           -ms-transition: $transition;
           -o-transition: $transition;
           opacity: 0;
           visibility: hidden;
 
           li {
             line-height: 4rem;
           }
         }
 
         &:hover {
           background-color: $primaryColor;
 
           & .dropdown {
             opacity: 1;
             visibility: visible;
             top: 8rem;
           }
         }
       }
 
       .a {
         padding: 0 2rem;
         font-size: 1.6rem;
         letter-spacing: 2px;
       }
 
       i {
         color: $lightColor;
         font-size: 1.6rem;
         margin-right: 1rem;
       }
     }
 
     .search-area {
 
      
 
       input[type="search"], button[type="submit"] {
         border: none;
         background-color: transparent;
         color: $lightColor;
       }
 
       input[type="search"] {
         border-bottom: 1px solid $primaryColor;
         padding: .5rem;
       }
 
       button[type="submit"] {
         margin-left: -5rem;
       }
     }
 
 
   }
 }
 