@import "../abstracts/";
@import "../utilities/utilities.scss";
.reviews {
    width: 100%;
    margin: 16rem 0;
   
    &__body {
        background: $silverColor;
        padding: 1rem;
        border-radius: .3rem;
        &__contents {
            display: flex;
            &__image {
                width: 5.5rem;
                height: 5.5rem;
                overflow: hidden;
                border-radius: 50%;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            &__info {
                flex: 1;
                margin-left: 1rem;
                &__name {
                    font-size: 1.4rem;
                    font-weight: 700;
                    text-transform: capitalize;
                }
                &__comment {
                    margin-top: .5rem;
                    font-size: 1.5rem;
                    line-height: 2.4rem;
                    color: $darkColor;
                    font-weight: 400;
                }
                &__rating {
                    margin-top: .5rem;
                    &__icon {
                        margin-left: .2rem;
                        &:first-child {
                            margin-left: 0;
                        }
                    }
                }
               
            }
        }
    }
}
