@import  "../abstracts/";
.toggle-open {
    @include position(fixed, 8rem, null, null, 6rem, null, null);
    cursor: pointer;
    z-index: 5;
   
    span:nth-child(1){
        @include toggleSpans($secondaryColor, 3rem, .3rem, null);
    }
    span:nth-child(2){
        @include toggleSpans($secondaryColor, 3rem, .3rem, .5rem);
    }
    span:nth-child(3){
        @include toggleSpans($secondaryColor, 3rem, .3rem, .5rem);
    }
}
.toggle-close {
    @include position(fixed, 8rem, null, null, 6rem, null, null);
    cursor: pointer;
    z-index: 5;
  
    span:nth-child(1){
        @include toggleSpans($secondaryColor, 3rem, 1.5px, .5rem);
        transform: rotate(-45deg) translateY(.5rem);
    }
    span:nth-child(2){
        display: none;
    }
    span:nth-child(3){
        @include toggleSpans($secondaryColor, 3rem, 1.5px, .5rem);
        transform: rotate(45deg) translateY(-.5rem);
    }
}

