@import "../abstracts/";
@import "../utilities/utilities.scss";

.topbar{
  border-bottom:1px solid $primaryColor;
  .container{
      @include flexBetween;
      .logo{
        .li{
              font-size:2rem;
              font-family: $primaryFont;
              color:$secondaryColor!important;
              text-decoration: none;
          }
      }
      .top-social-menu{
          display: flex;

          .li{
              margin:0 1rem;
              padding: 1rem;
        

              .topbaricon{
                  font-size:2rem;
                  transition: $transition;
                  -webkit-transition: $transition;
                  -moz-transition: $transition;
                  -ms-transition: $transition;
                  -o-transition: $transition;
                  color:$primaryColor;
                  :hover{
                      color:$primaryColor;
                      transition:$transition;
                      
                  }
}
             
          }
      }

      .contact-area{
        .btnn{
            span{
            color:$lightColor;
            margin-left:.9rem;
                }
        }
        .btnn:hover{
            color:$primaryColor;
            transition: $transition;
            -webkit-transition: $transition;
            -moz-transition: $transition;
            -ms-transition: $transition;
            -o-transition: $transition;
        }
        
      
          
         
      }
  }
}

