*,*::after,*::before {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

//Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
html{
    font-size:10px;
}
body{
    font-family: 'Lato', sans-serif;

}

